body{
    margin: 0;
    padding: 0;
    border: 0;
}

.fon{
  padding-left: 84px;
  background-image: url(../images/home/yellow-fon.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 280px;
}

header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between!important;
}

ul{
  list-style: none;
  display: flex;
}

a{
  text-decoration: none;
}

.menu-list{
  display: flex;
  align-items: center;
}

.menu-list a{
  font-family: 'Akrobat SemiBold', sans-serif;
  color: #000000;
  line-height: auto;
  text-align: right;
}

.menu-list a:hover{
  color: #FF0000;
}

.menu-list li{
  margin-left: 55px;
}

button{
  margin-left: 95px;
  background-color: #CE0002;
  color: white;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 20px;
  padding: 45px;
  border:none;
}

.home-text p{
  margin-top: 150px;
  color: #000000;
  font-family: 'Zona Pro 400', sans-serif;
  font-size:3.5vw;
}

.content{
  display: flex;
  justify-content: space-between;
}

.horse{
  margin-right: 40px;
}

.horse img{
  width: 36.938vw;
  height: 34.177vw;
}

