body{
    margin: 0;
    padding: 0;
    border: 0;
}

.fon{
  padding-left: 84px;
  background-image: url(../images/home/yellow-fon.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 280px;
}

header{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between!important;
}

ul{
  list-style: none;
  display: flex;
}

button{
  cursor: pointer;
}


@media screen and (max-width:1200px) {

ul{
  display: none;
}

.container{
  flex-wrap: wrap;
}

.small-text{
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: 2.250vw!important;
  width: 40%;
  letter-spacing: 0;
  line-height: auto;
  margin-left: 3.438vw;
}

.fon{
  padding-left: 84px;
  background-image: url(../images/home/yellow-fon.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  background-color: #FFEA2F;
};
}

a{
  text-decoration: none;
}

.menu-list{
  display: flex;
  align-items: center;
}

.menu-list a{
  font-family: 'Akrobat SemiBold', sans-serif;
  color: #000000;
  line-height: auto;
  text-align: right;
}

.menu-list a:hover{
  color: #FF0000;
}

.menu-list li{
  margin-left: 55px;
  font-size: 20px;
}

.menu-list button{
  margin-left: 95px;
  background-color: #CE0002;
  color: white;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 20px;
  padding: 45px;
  border:none;
}

.container{
  margin-top: 3vw;
  display: flex;
  justify-content: space-between;
}

.container-text{
  margin-top: 4vw;
  font-size: 50px;
  font-family: 'Zona Pro', sans-serif;
  letter-spacing: 0;
  line-height: auto;
}

.container-text p{
  font-family: 'Zona Pro', sans-serif!important;
  margin: 0;
  font-weight: bold;
}

.hourse img{
  width: 80%;
  height: auto;
  float: right;
}

.hourse{
  width: 100%;
  margin-right: 46px;
  margin-bottom: 20px;
}

.button-content{
  margin-left: 95px;
  background-color: #CE0002;
  color: white;
  font-family: 'Akrobat Bold', sans-serif;
  font-size: 20px;
  padding: 25px 14px 13px 15px;
  border:none;
  text-align: left;
}

.small-text{
  font-family: 'Akrobat SemiBold', sans-serif;
  font-size: 1.250vw;
  width: 60%;
  letter-spacing: 0;
  line-height: auto;
  margin-left: 3.438vw;
}
button:hover{
  color: #CE0002;
  background-color: white;
}

.list-networks img{
  margin-top: 10px;
}

.list-networks img:hover{
  filter: invert(1);
}

